<html>

<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <h1>Password generator</h1>
  <div>


  <form action="{% url 'password' %}">
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lenght" id="lenght" placeholder="Numero de caracteres">
      </div>
    </div>

    <div class="form-check ">
      <input class="form-check-input" type="checkbox" id="numerosChbx" value="numbers" name="numbers">
      <label class="form-check-label" for="inlineCheckbox1">Numeros</label>
    </div>
    <div class="form-check ">
      <input class="form-check-input" type="checkbox" id="uppercaseChbx" name="uppercase" value="uppercase">
      <label class="form-check-label" for="inlineCheckbox2">Mayusculas</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="specialChbx" value="special" value="option2" name="special">
      <label class="form-check-label" for="inlineCheckbox3">Caracteres Especiales</label>
    </div>


    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" name="">Generar contraseña</button>
      </div>
    </div>
  </form>
  </div>






</body>

</html>
